<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>[%d{yyyy-MM-dd HH:mm:ss}:%-3relative] | %-5level %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>

	<logger name="org.springframework.boot" additivity="false">
		<level value="info"/>
		<appender-ref ref="CONSOLE"/>
	</logger>

    <logger name="org.hibernate.type" additivity="false">
		<level value="info"/>
		<appender-ref ref="CONSOLE"/>
	</logger>
	
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>